# .NET
bin/
obj/
*.user
*.rsuser
*.suo
*.userosscache
*.sln.docstates

# Flutter
.dart_tool/
.packages
.flutter-plugins
.flutter-plugins-dependencies
.flutter-versions
.idea/
.vscode/
.DS_Store
build/
ios/Flutter/Flutter.framework
ios/Flutter/Flutter.podspec
ios/Flutter/App.framework
ios/ServiceDefinitions.json
ios/Runner.xcworkspace/
android/.gradle/
android/app/debug/
android/app/profile/
android/app/release/
